In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import pandas as pd
import numpy as np

# 1. Load data

In [3]:
df_2009_2010 = pd.read_excel("online_retail_II.xlsx", sheet_name='Year 2009-2010')

In [4]:
# df_2010_2011 = pd.read_excel("online_retail_II.xlsx", sheet_name='Year 2010-2011')

In [5]:
# df = pd.concat([df_2009_2010, df_2010_2011])
df = pd.concat([df_2009_2010])

In [6]:
df.shape

(525461, 8)

# 2. Check data quality

data type

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

columns name

In [9]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

data type

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

check missing value

In [11]:
df.isna().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [12]:
df = df.dropna()

check white space

In [13]:
def empty_or_whitespace_strings(df):
    string_columns = df.select_dtypes(include=['object']).columns
    empty_whitespace_check = df[string_columns].applymap(lambda x: isinstance(x, str) and x.isspace())

    count_empty_whitespace = empty_whitespace_check.sum()
    rows_with_whitespace_indices = empty_whitespace_check.any(axis=1)
    list_row_with_whilespace_indices = df.index[rows_with_whitespace_indices].tolist()

    return count_empty_whitespace, list_row_with_whilespace_indices

In [14]:
show_whilespace, indices_whilesapce = empty_or_whitespace_strings(df)

In [15]:
show_whilespace

Invoice        0
StockCode      0
Description    0
Country        0
dtype: int64

check unique value

In [16]:
for i in df.columns:
    print('Columns name: ', i)
    print('Unique value: ', df[i].unique())
    print('Count unique value: ', df[i].nunique())
    print('-'*10)

Columns name:  Invoice
Unique value:  [489434 489435 489436 ... 538169 538170 538171]
Count unique value:  23587
----------
Columns name:  StockCode
Unique value:  [85048 '79323P' '79323W' ... 22936 22935 22933]
Count unique value:  4031
----------
Columns name:  Description
Unique value:  ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'BAKING MOULD ROSE MILK CHOCOLATE'
 'BAKING MOULD CHOCOLATE CUP CAKES' 'BAKING MOULD EASTER EGG MILK CHOC']
Count unique value:  4459
----------
Columns name:  Quantity
Unique value:  [   12    48    24    10    18     3    16     4     2     6     8     1
    28    30    60    32    56     9    25    36    20   -12    -6    -4
   -24    -3    -2   576   288    27    64   160     5    -1    72    50
    54     7   800    11    58   192    96   144   100   180   216    15
   240   108    33    90    81   -81   -48    17    -5    40    -8    -9
    13    21   120   200   168    19   280   128  -150   -18   -23    80
   300   450    14    61   480    -7    46   504    45  4320  5184  4008
    22   600   505   500    23    47   432   252    75   -16  -504  -600
  -252  -246   -36   360   107    49    42    66   -10    34    52   400
    70   936   -32   -60   -96   -50  -120    35   -64  -168   -30   256
  1500   320   130  1002    26  1080    29   -13    67   960   864   150
   126   468   336  3000   -25    38   208   334   124   125   117  -200
    39   -20    55   -11    78  -100   -17  -144    77   350   526    98
   112    59    37   -14   408  1440   832   624   204   198   608   224
    43    65   720   271    41   264   225   104   163   187   312   164
   110  -190   250   -72   284    89   118  -400  6012   866  6144  2040
  2520  3888  5280  4800  6768  9312   384    44   -44   132  -132   -27
   229    62    82   114   -26   156   -22   460    84  -300   374   190
   484   -21 19152  3312  1344  2504  1968   482  4176  2880  6696  1200
  1800  1400  4200   696  3360  3200  3040  2700    51 -2504  9456   176
   -40   900    53  -192  -240   -15   152   700    74  1008  -432  -108
   141   537    88   140   -28   -80    31   205   247   372  2016    87
   992 12960 12480 12744  1110  4608  5364   420    68    91   148  1000
   640 10000   -74   135    76   840   816   324   -42   648    85  1152
   102  -408   -38  -128 -1440   -34   498   768  -288  -204  -160   246
    71   516   270   560  -309   392   -19   396   612   322  -500  -280
  -140  -250  -156   105   175   136   171 -1200   -69  -312   -51   -49
  5000  2500   808  2664  1728   228  2972  1098  1128   276   -41   134
   830  -830   210  -210   730   122   293  3500   -98   -99  1056   220
   352   -29   -61  2000  -576  -320  -648   248   330  -720    95   -85
  -264   235   -90   174   -55  2304  1120   -46   -33   985  3936  2976
  4752  1872  1116   567   684   984  1308  2112  2952  4992  2496  3648
  1536  1248  1632  7008  7128  3072   444  3744  1104    63   327  -180
  -118    97    57   121   394  1920  3960   876   756   672  -324   189
  2004  1512   704   760   464   520 -5184 -1248 -1536  -864 -3648 -2496
 -4992 -2952 -2112 -1308  -984  -768  -684  -567 -1116  -372  -480 -1872
 -4752 -4320 -1104  -960 -4608 -2000 -3744  -444 -3072 -7128 -7008 -1632
 -2976 -3936   139   -35   -31   162   448   304   -59  3120  1224  -700
   196   201   402   625  1240 -1152  -384   888   -56  -148   512  1944
  1960  9360  6336  -270   169   243  -243  2400   213   212 -2400  1680
  -248  -256  1584  -212  -213  -110   -82   -68   -45   -37   -65  -129
  -117 -9360  1824    69   378   972  1488  1394]
Count unique value:  500
----------
Columns name:  InvoiceDate
Unique value:  <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00', '2009-12-01 09:28:00',
 '2009-12-01 09:43:00', '2009-12-01 09:44:00', '2009-12-01 09:46:00',
 '2009-12-01 09:50:00',
 ...
 '2010-12-09 16:57:00', '2010-12-09 17:27:00', '2010-12-09 17:32:00',
 '2010-12-09 17:34:00', '2010-12-09 18:09:00', '2010-12-09 18:58:00',
 '2010-12-09 19:23:00', '2010-12-09 19:28:00', '2010-12-09 19:32:00',
 '2010-12-09 20:01:00']
Length: 21786, dtype: datetime64[ns]
Count unique value:  21786
----------
Columns name:  Price
Unique value:  [6.950000e+00 6.750000e+00 2.100000e+00 1.250000e+00 1.650000e+00
 5.950000e+00 2.550000e+00 3.750000e+00 5.450000e+00 1.690000e+00
 1.450000e+00 3.390000e+00 8.500000e+00 4.650000e+00 2.950000e+00
 4.250000e+00 8.500000e-01 9.950000e+00 8.950000e+00 6.500000e-01
 4.950000e+00 9.800000e-01 1.150000e+00 2.000000e+00 1.300000e+00
 2.500000e+00 3.000000e+00 1.900000e+00 2.150000e+00 2.400000e+00
 6.380000e+00 6.400000e+00 4.200000e-01 1.950000e+00 7.950000e+00
 1.800000e+01 7.200000e-01 5.500000e-01 1.410000e+02 3.800000e-01
 1.275000e+01 3.950000e+00 1.300000e+02 2.120000e+00 6.350000e+00
 2.100000e-01 1.490000e+00 1.495000e+01 3.450000e+00 1.060000e+00
 2.750000e+00 1.095000e+01 7.500000e-01 5.490000e+00 3.250000e+00
 1.695000e+01 9.500000e-01 2.900000e-01 9.000000e+00 1.900000e+01
 2.250000e+00 1.995000e+01 9.580000e+00 3.400000e-01 1.900000e-01
 1.075000e+01 6.400000e-01 3.490000e+00 3.700000e-01 1.000000e-01
 4.595000e+01 1.895000e+01 2.995000e+01 2.195000e+01 1.550000e+00
 1.065000e+01 1.050000e+00 1.400000e-01 5.100000e+00 8.490000e+00
 1.850000e+00 4.600000e+00 3.810000e+00 3.350000e+00 1.595000e+01
 1.750000e+00 3.600000e-01 1.800000e-01 3.495000e+01 1.200000e-01
 7.650000e+00 0.000000e+00 7.500000e+00 5.550000e+00 8.000000e-02
 6.000000e-02 5.000000e-01 7.995000e+01 1.475000e+01 2.500000e-01
 1.195000e+01 4.800000e-01 3.200000e-01 6.700000e-01 2.990000e+00
 1.500000e+00 5.000000e+01 1.998490e+03 3.500000e+00 2.200000e-01
 2.800000e+01 1.600000e-01 4.995000e+01 1.500000e+01 3.995000e+01
 7.250000e+00 7.350000e+00 4.000000e-02 4.000000e+01 3.097300e+02
 1.000000e+01 6.450000e+00 4.000000e+00 8.700000e+00 7.900000e-01
 2.160000e+02 5.750000e+00 9.450000e+00 1.270000e+00 1.213020e+03
 2.200000e+00 9.100000e+00 9.000000e-02 4.500000e+00 6.090000e+00
 2.360000e+00 1.400000e+00 3.595000e+01 5.000000e+00 5.900000e-01
 1.190000e+00 3.200000e+00 2.600000e+00 1.000000e+00 1.700000e+00
 2.495000e+01 3.500000e-01 8.032500e+02 2.200000e+01 6.850000e+00
 5.300000e-01 5.400000e+00 8.460000e+00 5.473000e+02 7.410000e+01
 6.896000e+01 3.380000e+00 7.930000e+00 7.300000e+00 6.437000e+01
 6.600000e+00 7.060000e+00 7.805200e+02 1.800000e+02 7.360000e+00
 1.760000e+01 9.751100e+02 4.358800e+02 1.700000e-01 6.000000e+00
 7.000000e-01 2.800000e+00 8.000000e+00 1.100000e+00 7.000000e+00
 5.850000e+00 7.511100e+02 5.469500e+02 3.544500e+02 3.238800e+02
 1.747500e+02 1.612500e+02 4.410000e+00 8.400000e-01 2.000000e+01
 4.000000e-01 1.300000e-01 1.000000e-03 7.000000e+01 7.568500e+02
 6.250000e+00 3.000000e-01 1.500000e-01 1.193890e+03 6.360000e+00
 4.930000e+00 6.834000e+01 2.015600e+02 2.058200e+02 1.050000e+01
 2.100000e+01 1.400000e+01 2.625000e+01 9.189000e+01 6.324000e+01
 1.314000e+01 1.838000e+01 5.673000e+01 1.177200e+02 1.292300e+02
 1.327900e+02 2.619000e+01 3.967000e+01 3.428000e+02 1.783100e+02
 1.558000e+01 1.049000e+01 2.742000e+02 1.575000e+01 6.413000e+01
 1.257800e+02 1.071400e+02 1.313000e+01 8.458000e+01 5.076000e+01
 3.675000e+01 1.312000e+01 2.295000e+01 4.570000e+00 4.935000e+01
 1.794500e+02 1.051000e+01 1.633000e+01 1.574000e+01 1.397100e+02
 4.896000e+01 1.131000e+01 2.363000e+01 1.190000e+01 2.185000e+01
 2.436300e+02 1.148900e+02 4.109000e+01 2.782000e+01 1.576000e+01
 8.161000e+01 1.035000e+02 7.752000e+01 3.875400e+02 1.988000e+01
 2.850000e+01 2.460000e+01 8.985600e+03 1.065540e+03 5.501000e+01
 2.447700e+02 2.595000e+01 7.160000e+00 8.181900e+02 1.300000e+01
 6.085000e+02 7.490000e+00 5.100000e+01 4.800000e+00 2.560000e+00
 1.028400e+02 8.970000e+00 2.350000e+00 3.651000e+02 4.112000e+01
 1.000000e+02 2.695000e+01 1.508650e+03 4.495000e+01 1.600000e+00
 8.220000e+00 2.140000e+00 2.700000e+00 9.470800e+02 6.200000e+01
 4.580000e+00 7.000000e-02 5.995000e+01 6.000000e+01 6.960000e+00
 7.260000e+00 8.800000e-01 1.250000e+02 6.300000e-01 2.400000e-01
 1.100000e-01 1.196000e+02 2.000000e+02 3.500000e+01 3.087400e+02
 6.995000e+01 1.200000e+00 2.300000e+00 2.000000e-01 1.450000e+02
 2.500000e+01 7.320000e+00 5.250000e+00 1.800000e+00 4.500000e-01
 1.295000e+01 2.413800e+02 7.630000e+00 6.958170e+03 5.795870e+03
 5.065100e+02 9.346600e+02 1.348600e+02 3.226900e+02 2.746300e+02
 5.800000e-01 1.095350e+04 1.144730e+03 7.793200e+02 3.680000e+01
 2.900000e+00 9.180000e+01 7.825600e+02 1.360000e+00 6.800000e-01
 1.899670e+03 1.598670e+03 5.256500e+02 1.834140e+03 3.023100e+02
 1.466800e+02 1.316800e+02 1.817000e+01 2.317000e+01 3.590000e+00
 4.317000e+01 1.180000e+00 1.920000e+00 2.660000e+00 1.980000e+00
 1.380000e+00 3.620000e+00 1.740000e+00 8.000000e-01 6.000000e-01
 3.670000e+00 5.880000e+00 6.680000e+00 1.289000e+01 2.562000e+01
 3.761700e+02 1.520000e+00 4.190000e+00 6.410000e+00 8.960000e+00
 3.300000e-01 3.060000e+02 1.590000e+00 7.980000e+00 1.066000e+01
 6.770000e+00 8.620000e+00 5.360000e+00 5.843700e+03 7.735000e+02
 2.104700e+02 2.451260e+03 2.272800e+02 3.066600e+02 1.486900e+02
 9.480000e+01 5.763000e+01 6.608600e+02 4.217590e+03 8.478400e+02
 8.748400e+02 4.750000e+00 5.876340e+03 3.718500e+02 2.290000e+00
 3.740000e+00 3.660000e+00 7.450000e+00 1.935000e+01 1.831000e+01
 1.480000e+00 3.000000e+01 2.164500e+02 2.850000e+02 6.075300e+02
 2.693400e+02 2.300000e+02 6.622500e+02 3.962000e+02 4.800000e+01
 1.100000e+02 5.200000e-01 1.580000e+00 2.200000e+02 7.940000e+00
 1.099000e+01 5.261000e+01 6.600000e-01 3.001300e+02 7.245000e+01
 3.584700e+02 7.970000e+00 1.019900e+02 1.700000e+01 4.770000e+00
 5.929000e+01 5.690000e+01 2.362000e+01 8.070000e+01 3.510000e+01
 7.460000e+00 4.860000e+00 8.700000e-01 5.430000e+00 1.470000e+00
 2.900000e+02 2.975700e+02 8.494500e+02 6.480500e+02 1.000630e+03
 5.900000e+02 8.516000e+02 3.552000e+02 9.550600e+02 3.248860e+03
 4.620860e+03 2.511109e+04 3.020900e+02 4.170000e+00 1.655000e+01
 3.660000e+01 8.210000e+00 1.700000e+02 5.180000e+00 1.294000e+01
 4.660000e+00 2.588000e+01 1.322000e+01 3.178000e+01 1.423100e+02
 8.513000e+01 1.842000e+01 2.030000e+01 6.200000e-01 1.588510e+03
 7.150200e+02 6.610200e+02 5.400000e+01 1.510000e+00 2.950000e+02
 1.189940e+03 3.580800e+03 7.800000e-01 2.700000e-01 1.080000e+00
 5.060000e+00 3.180000e+00 2.540000e+00 1.570000e+00 8.850000e+01
 9.500000e+01 1.420000e+02 9.380000e+00 3.610500e+03 2.400000e+01
 5.500000e+01 2.980000e+00 8.000000e+02 4.797000e+01 3.348800e+02
 3.100000e-01 5.000000e-02 3.000000e-02 8.920000e+00 4.100000e-01
 3.016600e+02 6.725000e+01 1.330000e+00 4.960000e+00 1.660000e+00
 6.860000e+00 7.517000e+01 1.500000e+02 2.800000e+02 4.100000e+00
 1.970000e+00 3.860000e+00 6.760000e+00 8.900000e-01 2.470000e+00
 1.524000e+02 1.000000e-02 1.235000e+01 6.775000e+02 5.914300e+02
 1.868560e+03 9.900000e+01 1.055750e+03 1.200000e+01 7.400000e-01
 4.450500e+02 1.920000e+01 9.900000e+00 9.090000e+00 4.400000e-01
 7.519000e+01 1.030000e+01 1.046880e+04 2.769900e+03 2.809100e+02
 4.295000e+01 1.299500e+02 1.770000e+00 6.844000e+01 2.294600e+02
 2.245800e+02 6.698000e+01 4.132800e+02 1.276600e+02 4.500000e+01
 7.445400e+02 8.415000e+01 9.888000e+01 7.161000e+01 1.343440e+03
 1.595400e+02 3.597100e+02 2.086300e+02 4.560000e+00 5.150000e+00
 4.140000e+00 8.870000e+00 6.890000e+00 1.430000e+00 5.960000e+00
 3.170000e+00 7.130000e+00 3.400000e+00 1.880000e+00 6.540000e+00
 4.831500e+02 2.852000e+01 2.378500e+02 2.545850e+03 9.000000e-01
 1.720000e+00 4.134000e+02 3.980000e+00 4.450600e+02 7.044790e+03
 2.285310e+03 2.366400e+03 1.216000e+01 1.950000e+01 1.769600e+02
 3.119900e+02 2.670500e+02 9.680000e+00 1.130000e+01 7.564000e+02
 1.108440e+03 2.667880e+03 3.880000e+00 1.686000e+01 4.780000e+00
 5.370000e+00 9.860000e+00 6.780000e+00 1.942000e+01 9.890000e+00
 2.320000e+00 1.688000e+01 5.278000e+01 3.506000e+02 3.450100e+02
 2.225170e+03 1.408000e+01 1.259600e+02 1.586500e+02 5.303100e+02
 8.301200e+02 6.938000e+01 1.085000e+01 2.650000e+00 6.199200e+02
 1.128400e+02 5.246000e+01 8.800000e+00 1.010000e+01 1.650000e+02
 7.802500e+02 3.240000e+00 6.910000e+00 2.170000e+00 4.620000e+00
 2.690000e+00 9.160000e+00 3.210000e+00 2.210000e+00 2.160000e+00
 7.300000e-01 1.240000e+00 3.440000e+00 4.680000e+00 1.013000e+01
 1.435000e+01 5.740000e+00 2.500000e+02 2.736160e+03 1.155600e+03
 1.389000e+01 9.203000e+01 7.831000e+01 7.697000e+01 8.200000e+00
 2.028000e+01 1.008000e+01 5.005000e+01 3.269000e+01 1.984000e+01
 2.319000e+01 1.600000e+01 2.310000e+00 9.260000e+00 6.210000e+01
 4.900000e-01 1.269510e+03 1.075200e+02 8.500000e+02 1.902000e+01
 2.530000e+02 3.904000e+01 3.603000e+01 2.395000e+01 6.500000e+01
 3.960000e+00 1.147500e+02 1.170000e+00 1.630000e+01 1.398000e+01
 1.186000e+01 6.130000e+00 7.840000e+00 5.670000e+00 3.200000e+01
 3.229000e+01 2.840000e+00 1.420000e+00 1.870000e+00 2.750000e+01
 3.820000e+00 3.370000e+00 3.575000e+01 2.929000e+01 1.930000e+00
 2.810000e+02 5.277000e+01 2.671200e+02 1.994000e+01]
Count unique value:  664
----------
Columns name:  Customer ID
Unique value:  [13085. 13078. 15362. ... 12942. 13369. 15211.]
Count unique value:  4383
----------
Columns name:  Country
Unique value:  ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Nigeria'
 'Malta' 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania'
 'West Indies' 'Korea' 'Brazil' 'Canada' 'Iceland']
Count unique value:  37
----------

Quantity and Price > 0

In [17]:
df = df[df['Quantity'] > 0]

In [18]:
df = df[df['Price'] > 0]

In [19]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check Description

In [20]:
description_counts = df.groupby('StockCode').agg(number_description=('Description', pd.Series.nunique)).reset_index()

In [21]:
multiple_descriptions = description_counts[description_counts['number_description'] > 1]

In [22]:
multiple_descriptions = multiple_descriptions.sort_values("number_description", ascending=False)

In [23]:
multiple_descriptions

         StockCode  number_description
1093         21955                   4
100          20685                   4
1421         22344                   4
1423         22346                   4
1456         22384                   4
...            ...                 ...
1287         22198                   2
1286         22197                   2
1285         22196                   2
1284         22195                   2
4008  BANK CHARGES                   2

[424 rows x 2 columns]

In [24]:
df[df['StockCode'] == 22345]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
3763,489784,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-02 11:48:00,0.85,13269.0,United Kingdom
7287,490017,22345,PARTY PIZZA DISH BLUE WHITE SPOT,6,2009-12-03 12:31:00,0.85,14159.0,United Kingdom
17494,490786,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-08 11:23:00,0.85,15079.0,United Kingdom
81546,496882,22345,PARTY PIZZA DISH BLUE WHITE SPOT,1,2010-02-04 14:13:00,0.85,15167.0,United Kingdom
88014,497615,22345,PARTY PIZZA DISH BLUE WHITE SPOT,6,2010-02-11 11:59:00,0.85,14527.0,United Kingdom
128630,501651,22345,PARTY PIZZA DISH BLUE WHITE SPOT,1,2010-03-18 12:45:00,0.85,16385.0,United Kingdom
131609,501883,22345,PARTY PIZZA DISH BLUE WHITE SPOT,12,2010-03-21 13:50:00,0.85,13466.0,United Kingdom
137643,502599,22345,PARTY PIZZA DISH BLUE WHITE SPOT,2,2010-03-25 13:16:00,0.85,17301.0,United Kingdom
139765,502768,22345,PARTY PIZZA DISH BLUE WHITE SPOT,1,2010-03-26 14:16:00,0.85,14994.0,United Kingdom
153477,503956,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-04-08 16:45:00,0.85,13443.0,United Kingdom
167772,505236,22345,PARTY PIZZA DISH BLUE WHITE SPOT,12,2010-04-21 10:58:00,0.85,12391.0,Cyprus
168126,505335,22345,PARTY PIZZA DISH BLUE RETROSPOT,36,2010-04-21 13:00:00,0.85,12709.0,Germany
195221,508062,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-05-12 13:52:00,0.85,12494.0,France
199384,508505,22345,PARTY PIZZA DISH BLUE RETROSPOT,4,2010-05-16 16:05:00,0.85,16549.0,United Kingdom
202521,508874,22345,PARTY PIZZA DISH BLUE RETROSPOT,3,2010-05-18 16:28:00,0.85,13097.0,United Kingdom
223452,511052,22345,PARTY PIZZA DISH BLUE RETROSPOT,3,2010-06-06 12:15:00,0.85,17841.0,United Kingdom
223956,511070,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-06-06 13:26:00,0.85,16340.0,United Kingdom
233446,511990,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-06-11 15:03:00,0.85,13601.0,United Kingdom
238665,512461,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-06-16 10:23:00,0.85,13338.0,United Kingdom
267897,515320,22345,PARTY PIZZA DISH BLUE RETROSPOT,2,2010-07-11 12:06:00,0.85,15965.0,United Kingdom
268829,515406,22345,PARTY PIZZA DISH BLUE RETROSPOT,3,2010-07-12 11:59:00,0.85,14159.0,United Kingdom
272575,515884,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-07-15 12:00:00,0.85,16435.0,United Kingdom
285488,517125,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-07-27 09:42:00,0.85,13466.0,United Kingdom
295554,518159,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-08-05 10:38:00,0.85,13239.0,United Kingdom
312718,519832,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-08-20 15:14:00,0.85,16401.0,United Kingdom
312797,519864,22345,PARTY PIZZA DISH BLUE RETROSPOT,4,2010-08-20 15:32:00,0.85,16401.0,United Kingdom
326389,521205,22345,PARTY PIZZA DISH BLUE RETROSPOT,6,2010-09-02 18:22:00,0.85,17324.0,United Kingdom
330541,521649,22345,PARTY PIZZA DISH BLUE RETROSPOT,2,2010-09-07 13:28:00,0.85,14968.0,United Kingdom
335685,522098,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-09-12 13:51:00,0.85,16320.0,Unspecified
337555,522298,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-09-13 14:45:00,0.85,14913.0,United Kingdom
343252,522910,22345,PARTY PIZZA DISH BLUE RETROSPOT,1,2010-09-17 13:30:00,0.85,12748.0,United Kingdom
345981,523015,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-09-20 10:23:00,0.85,15462.0,United Kingdom
357252,524092,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-09-27 11:57:00,0.85,15502.0,United Kingdom
376892,525764,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-10-07 10:39:00,0.85,12511.0,Greece
386025,526485,22345,PARTY PIZZA DISH BLUE RETROSPOT,12,2010-10-12 08:08:00,0.85,12649.0,Germany
386682,526625,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-10-12 12:36:00,0.85,16401.0,United Kingdom
416600,529161,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-10-26 17:23:00,0.85,15390.0,Canada
438010,531271,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-11-07 11:52:00,0.85,16401.0,United Kingdom
446852,531922,22345,PARTY PIZZA DISH BLUE POLKADOT,1,2010-11-10 12:09:00,0.85,17974.0,United Kingdom
474461,534061,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-11-21 11:03:00,0.85,12967.0,United Kingdom
479178,534379,22345,PARTY PIZZA DISH BLUE POLKADOT,2,2010-11-22 12:36:00,0.85,14646.0,Netherlands
512657,537212,22345,PARTY PIZZA DISH BLUE POLKADOT,12,2010-12-05 15:21:00,0.85,12720.0,Germany

In [25]:
def fix_duplicates_description(df):
    df['Description'] = df.groupby('StockCode')['Description'].transform('first')
    return df

In [26]:
df = fix_duplicates_description(df)

In [27]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check Description (again)

In [28]:
description_counts = df.groupby('StockCode').agg(number_description=('Description', pd.Series.nunique)).reset_index()

In [29]:
multiple_descriptions = description_counts[description_counts['number_description'] > 1]

In [30]:
multiple_descriptions = multiple_descriptions.sort_values("number_description", ascending=False)

In [31]:
multiple_descriptions

Empty DataFrame
Columns: [StockCode, number_description]
Index: []

In [32]:
df[df['StockCode'] == 22345]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
3763,489784,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-02 11:48:00,0.85,13269.0,United Kingdom
7287,490017,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2009-12-03 12:31:00,0.85,14159.0,United Kingdom
17494,490786,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-08 11:23:00,0.85,15079.0,United Kingdom
81546,496882,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-02-04 14:13:00,0.85,15167.0,United Kingdom
88014,497615,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-02-11 11:59:00,0.85,14527.0,United Kingdom
128630,501651,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-03-18 12:45:00,0.85,16385.0,United Kingdom
131609,501883,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-03-21 13:50:00,0.85,13466.0,United Kingdom
137643,502599,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,2,2010-03-25 13:16:00,0.85,17301.0,United Kingdom
139765,502768,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-03-26 14:16:00,0.85,14994.0,United Kingdom
153477,503956,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-04-08 16:45:00,0.85,13443.0,United Kingdom
167772,505236,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-04-21 10:58:00,0.85,12391.0,Cyprus
168126,505335,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,36,2010-04-21 13:00:00,0.85,12709.0,Germany
195221,508062,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-05-12 13:52:00,0.85,12494.0,France
199384,508505,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,4,2010-05-16 16:05:00,0.85,16549.0,United Kingdom
202521,508874,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,3,2010-05-18 16:28:00,0.85,13097.0,United Kingdom
223452,511052,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,3,2010-06-06 12:15:00,0.85,17841.0,United Kingdom
223956,511070,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-06-06 13:26:00,0.85,16340.0,United Kingdom
233446,511990,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-06-11 15:03:00,0.85,13601.0,United Kingdom
238665,512461,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-06-16 10:23:00,0.85,13338.0,United Kingdom
267897,515320,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,2,2010-07-11 12:06:00,0.85,15965.0,United Kingdom
268829,515406,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,3,2010-07-12 11:59:00,0.85,14159.0,United Kingdom
272575,515884,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-07-15 12:00:00,0.85,16435.0,United Kingdom
285488,517125,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-07-27 09:42:00,0.85,13466.0,United Kingdom
295554,518159,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-08-05 10:38:00,0.85,13239.0,United Kingdom
312718,519832,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-08-20 15:14:00,0.85,16401.0,United Kingdom
312797,519864,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,4,2010-08-20 15:32:00,0.85,16401.0,United Kingdom
326389,521205,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-09-02 18:22:00,0.85,17324.0,United Kingdom
330541,521649,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,2,2010-09-07 13:28:00,0.85,14968.0,United Kingdom
335685,522098,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-09-12 13:51:00,0.85,16320.0,Unspecified
337555,522298,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-09-13 14:45:00,0.85,14913.0,United Kingdom
343252,522910,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-09-17 13:30:00,0.85,12748.0,United Kingdom
345981,523015,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-09-20 10:23:00,0.85,15462.0,United Kingdom
357252,524092,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-09-27 11:57:00,0.85,15502.0,United Kingdom
376892,525764,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-10-07 10:39:00,0.85,12511.0,Greece
386025,526485,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-10-12 08:08:00,0.85,12649.0,Germany
386682,526625,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-10-12 12:36:00,0.85,16401.0,United Kingdom
416600,529161,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-10-26 17:23:00,0.85,15390.0,Canada
438010,531271,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-11-07 11:52:00,0.85,16401.0,United Kingdom
446852,531922,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-11-10 12:09:00,0.85,17974.0,United Kingdom
474461,534061,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-11-21 11:03:00,0.85,12967.0,United Kingdom
479178,534379,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,2,2010-11-22 12:36:00,0.85,14646.0,Netherlands
512657,537212,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2010-12-05 15:21:00,0.85,12720.0,Germany

check StockCode

In [33]:
stockcode_counts = df.groupby('Description').agg(number_stockcode=('StockCode', pd.Series.nunique)).reset_index()

In [34]:
multiple_stockcode = stockcode_counts[stockcode_counts['number_stockcode'] > 1]

In [35]:
multiple_stockcode = multiple_stockcode.sort_values("number_stockcode", ascending=False)

In [36]:
multiple_stockcode

                          Description  number_stockcode
2109   METAL SIGN,CUPCAKE SINGLE HOOK                 3
915      COLOURING PENCILS BROWN TUBE                 3
2170     MODERN CHRISTMAS TREE CANDLE                 2
3660          This is a test product.                 2
3489    SQUARE CHERRY BLOSSOM CABINET                 2
2932         RETRO PLASTIC POLKA TRAY                 2
2930         RETRO PLASTIC DAISY TRAY                 2
2929          RETRO PLASTIC 70'S TRAY                 2
2569       PINK FLOWERS RABBIT EASTER                 2
2560    PINK FLOCK GLASS CANDLEHOLDER                 2
2554    PINK FAIRY CAKE CUSHION COVER                 2
136      ACRYLIC JEWEL SNOWFLAKE,BLUE                 2
493     BLUE FLOCK GLASS CANDLEHOLDER                 2
1470              FROSTED WHITE BASE                  2
1450    FRENCH LATTICE CUSHION COVER                  2
1447     FRENCH FLORAL CUSHION COVER                  2
1157  EAU DE NILE JEWELLED PHOTOFRAME                 2
919           COLUMBIAN CANDLE ROUND                  2
918            COLUMBIAN CANDLE ROUND                 2
917        COLUMBIAN CANDLE RECTANGLE                 2
3786      WHITE BAMBOO RIBS LAMPSHADE                 2

In [37]:
df[df['Description'] == 'METAL SIGN,CUPCAKE SINGLE HOOK']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
7255,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7256,490017,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7258,490017,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
13875,490503,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",3,2009-12-06 14:00:00,1.25,14548.0,United Kingdom
19293,490972,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",16,2009-12-08 16:40:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
495185,535775,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",2,2010-11-28 13:40:00,1.25,16033.0,United Kingdom
495186,535775,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",2,2010-11-28 13:40:00,1.25,16033.0,United Kingdom
498600,535994,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-11-29 13:44:00,1.25,15311.0,United Kingdom
498601,535994,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-11-29 13:44:00,1.25,15311.0,United Kingdom
512128,537195,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-12-05 13:55:00,1.25,15311.0,United Kingdom

In [38]:
def fix_duplicates_stockcode(df):
    df['StockCode'] = df.groupby('Description')['StockCode'].transform('first')
    return df

In [39]:
df = fix_duplicates_stockcode(df)

In [40]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check StockCode (again)

In [41]:
stockcode_counts = df.groupby('Description').agg(number_stockcode=('StockCode', pd.Series.nunique)).reset_index()

In [42]:
multiple_stockcode = stockcode_counts[stockcode_counts['number_stockcode'] > 1]

In [43]:
multiple_stockcode = multiple_stockcode.sort_values("number_stockcode", ascending=False)

In [44]:
multiple_stockcode

Empty DataFrame
Columns: [Description, number_stockcode]
Index: []

In [45]:
df[df['Description'] == 'METAL SIGN,CUPCAKE SINGLE HOOK']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
7255,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7256,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7258,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
13875,490503,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",3,2009-12-06 14:00:00,1.25,14548.0,United Kingdom
19293,490972,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",16,2009-12-08 16:40:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
495185,535775,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",2,2010-11-28 13:40:00,1.25,16033.0,United Kingdom
495186,535775,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",2,2010-11-28 13:40:00,1.25,16033.0,United Kingdom
498600,535994,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-11-29 13:44:00,1.25,15311.0,United Kingdom
498601,535994,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-11-29 13:44:00,1.25,15311.0,United Kingdom
512128,537195,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2010-12-05 13:55:00,1.25,15311.0,United Kingdom

check unique value (again)

In [46]:
for i in df.columns:
    print('Columns name: ', i)
    print('Unique value: ', df[i].unique())
    print('Count unique value: ', df[i].nunique())
    print('-'*10)

Columns name:  Invoice
Unique value:  [489434 489435 489436 ... 538169 538170 538171]
Count unique value:  19213
----------
Columns name:  StockCode
Unique value:  [85048 '79323P' '79323W' ... 22936 22935 22933]
Count unique value:  3994
----------
Columns name:  Description
Unique value:  ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'BAKING MOULD ROSE WHITE CHOCOLATE'
 'BAKING MOULD ROSE MILK CHOCOLATE' 'BAKING MOULD EASTER EGG MILK CHOC']
Count unique value:  3994
----------
Columns name:  Quantity
Unique value:  [   12    48    24    10    18     3    16     4     2     6     8     1
    28    30    60    32    56     9    25    36    20   576   288    27
    64   160     5    72    50    54     7   800    11    58   192    96
   144   100   180   216    15   240   108    33    90    81    17    40
    13    21   120   200   168    19   280   128    80   300   450    14
    61   480    46   504    45  4320  5184  4008    22   600   505   500
    23    47   432   252    75   360   107    49    42    66    34    52
   400    70   936    35   256  1500   320   130  1002    26  1080    29
    67   960   864   150   126   468   336  3000    38   208   334   124
   125   117    39    55    78    77   350   526    98   112    59    37
   408  1440   832   624   204   198   608   224    43    65   720   271
    41   264   225   104   163   187   312   164   110   250   284    89
   118  6012   866  6144  2040  2520  3888  5280  4800  6768  9312   384
    44   132   229    62    82   114   156   460    84   374   190   484
 19152  3312  1344  2504  1968   482  4176  2880  6696  1200  1800  1400
  4200   696  3360  3200  3040  2700    51  9456   176   900    53   152
   700    74  1008   141   537    88   140    31   205   247   372  2016
    87   992 12960 12480 12744  1110  4608  5364   420    68    91   148
  1000   640 10000   135    76   840   816   324   648    85  1152   102
   498   768   246    71   516   270   560   392   396   612   322   105
   175   136   171  5000  2500   808  2664  1728   228  2972  1098  1128
   276   134   830   210   730   122   293  3500  1056   220   352  2000
   248   330    95   235   174  2304  1120   985  3936  2976  4752  1872
  1116   567   684   984  1308  2112  2952  4992  2496  3648  1536  1248
  1632  7008  7128  3072   444  3744  1104    63   327    97    57   121
   394  1920  3960   876   756   672   189  2004  1512   704   760   464
   520   139   162   448   304  3120  1224   196   201   402   625  1240
   888   512  1944  1960  9360  6336   169   243  2400   213   212  1680
  1584  1824    69   378   972  1488  1394]
Count unique value:  343
----------
Columns name:  InvoiceDate
Unique value:  <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00', '2009-12-01 09:28:00',
 '2009-12-01 09:43:00', '2009-12-01 09:44:00', '2009-12-01 09:46:00',
 '2009-12-01 09:50:00',
 ...
 '2010-12-09 16:53:00', '2010-12-09 16:57:00', '2010-12-09 17:27:00',
 '2010-12-09 17:34:00', '2010-12-09 18:09:00', '2010-12-09 18:58:00',
 '2010-12-09 19:23:00', '2010-12-09 19:28:00', '2010-12-09 19:32:00',
 '2010-12-09 20:01:00']
Length: 18008, dtype: datetime64[ns]
Count unique value:  18008
----------
Columns name:  Price
Unique value:  [6.95000e+00 6.75000e+00 2.10000e+00 1.25000e+00 1.65000e+00 5.95000e+00
 2.55000e+00 3.75000e+00 5.45000e+00 1.69000e+00 1.45000e+00 3.39000e+00
 8.50000e+00 4.65000e+00 2.95000e+00 4.25000e+00 8.50000e-01 9.95000e+00
 8.95000e+00 6.50000e-01 4.95000e+00 9.80000e-01 1.15000e+00 2.00000e+00
 1.30000e+00 2.50000e+00 3.00000e+00 1.90000e+00 2.15000e+00 2.40000e+00
 6.38000e+00 6.40000e+00 4.20000e-01 1.95000e+00 7.95000e+00 1.80000e+01
 7.20000e-01 5.50000e-01 1.41000e+02 3.80000e-01 1.27500e+01 3.95000e+00
 1.30000e+02 2.12000e+00 2.10000e-01 1.49000e+00 6.35000e+00 1.49500e+01
 3.45000e+00 1.06000e+00 2.75000e+00 1.09500e+01 7.50000e-01 5.49000e+00
 3.25000e+00 1.69500e+01 9.50000e-01 2.90000e-01 2.25000e+00 1.99500e+01
 3.40000e-01 1.90000e-01 1.07500e+01 6.40000e-01 3.70000e-01 1.00000e-01
 4.59500e+01 1.89500e+01 2.99500e+01 2.19500e+01 3.49000e+00 1.55000e+00
 1.06500e+01 1.05000e+00 1.40000e-01 8.49000e+00 1.85000e+00 4.60000e+00
 3.81000e+00 3.35000e+00 1.59500e+01 1.75000e+00 3.60000e-01 1.80000e-01
 3.49500e+01 1.20000e-01 7.65000e+00 7.50000e+00 5.55000e+00 8.00000e-02
 6.00000e-02 5.00000e-01 7.99500e+01 1.47500e+01 2.50000e-01 1.19500e+01
 4.80000e-01 3.20000e-01 6.70000e-01 1.50000e+00 5.00000e+01 3.50000e+00
 2.20000e-01 2.80000e+01 1.60000e-01 4.99500e+01 1.50000e+01 3.99500e+01
 7.25000e+00 7.35000e+00 4.00000e-02 4.00000e+01 1.00000e+01 4.00000e+00
 8.70000e+00 7.90000e-01 2.16000e+02 5.75000e+00 9.45000e+00 1.27000e+00
 1.21302e+03 6.45000e+00 9.00000e-02 4.50000e+00 6.09000e+00 2.36000e+00
 1.40000e+00 3.59500e+01 5.00000e+00 1.19000e+00 3.20000e+00 2.60000e+00
 1.00000e+00 1.70000e+00 2.49500e+01 3.50000e-01 8.03250e+02 5.30000e-01
 7.41000e+01 6.89600e+01 3.38000e+00 7.93000e+00 7.30000e+00 7.80520e+02
 1.80000e+02 7.36000e+00 9.75110e+02 4.35880e+02 1.70000e-01 6.00000e+00
 7.00000e-01 2.80000e+00 8.00000e+00 1.10000e+00 7.00000e+00 5.85000e+00
 5.46950e+02 3.54450e+02 2.00000e+01 1.00000e-03 4.00000e-01 7.56850e+02
 6.25000e+00 3.00000e-01 1.50000e-01 1.19389e+03 6.36000e+00 6.83400e+01
 2.01560e+02 2.05820e+02 2.10000e+01 6.32400e+01 5.67300e+01 1.17720e+02
 1.29230e+02 1.32790e+02 3.96700e+01 3.42800e+02 1.78310e+02 1.55800e+01
 2.74200e+02 6.41300e+01 1.07140e+02 8.45800e+01 4.57000e+00 4.93500e+01
 1.79450e+02 1.63300e+01 1.39710e+02 4.89600e+01 1.13100e+01 1.19000e+01
 2.43630e+02 1.14890e+02 4.10900e+01 2.78200e+01 8.16100e+01 7.75200e+01
 3.87540e+02 8.98560e+03 2.59500e+01 7.16000e+00 8.18190e+02 6.08500e+02
 7.49000e+00 5.10000e+01 2.56000e+00 1.02840e+02 3.65100e+02 1.00000e+02
 2.69500e+01 1.50865e+03 4.49500e+01 4.58000e+00 5.99500e+01 6.00000e+01
 6.96000e+00 7.26000e+00 8.80000e-01 6.30000e-01 2.40000e-01 1.10000e-01
 1.25000e+02 1.19600e+02 2.00000e+02 3.50000e+01 3.08740e+02 6.99500e+01
 1.20000e+00 2.30000e+00 2.00000e-01 1.45000e+02 5.25000e+00 1.80000e+00
 4.50000e-01 1.29500e+01 6.95817e+03 3.22690e+02 1.09535e+04 3.68000e+01
 2.90000e+00 7.82560e+02 9.18000e+01 2.41380e+02 1.31680e+02 3.59000e+00
 1.18000e+00 1.92000e+00 2.66000e+00 1.98000e+00 1.38000e+00 3.62000e+00
 1.74000e+00 8.00000e-01 6.00000e-01 3.67000e+00 5.88000e+00 6.68000e+00
 1.28900e+01 2.56200e+01 1.52000e+00 4.19000e+00 3.06000e+02 1.59000e+00
 7.98000e+00 1.06600e+01 6.77000e+00 8.62000e+00 5.36000e+00 9.48000e+01
 5.76300e+01 8.74840e+02 4.75000e+00 3.71850e+02 2.29000e+00 3.74000e+00
 3.66000e+00 7.45000e+00 1.48000e+00 3.00000e+01 2.85000e+02 2.69340e+02
 1.60000e+00 2.30000e+02 6.62250e+02 3.96200e+02 1.10000e+02 5.20000e-01
 1.58000e+00 2.20000e+02 1.09900e+01 6.60000e-01 7.97000e+00 7.00000e+01
 1.01990e+02 7.00000e-02 1.70000e+01 7.46000e+00 4.86000e+00 8.70000e-01
 5.43000e+00 1.47000e+00 2.90000e+02 8.49450e+02 2.97570e+02 1.00063e+03
 4.17000e+00 3.00130e+02 3.58470e+02 7.24500e+01 1.70000e+02 8.51300e+01
 2.03000e+01 6.20000e-01 2.50000e+01 7.15020e+02 2.95000e+02 7.80000e-01
 2.70000e-01 2.20000e+00 1.08000e+00 5.06000e+00 3.18000e+00 2.54000e+00
 1.57000e+00 9.50000e+01 3.61050e+03 5.50000e+01 8.00000e+02 3.34880e+02
 1.30000e-01 3.10000e-01 3.30000e-01 5.00000e-02 3.00000e-02 1.33000e+00
 4.96000e+00 1.66000e+00 6.86000e+00 1.50000e+02 2.80000e+02 1.97000e+00
 3.86000e+00 6.76000e+00 8.90000e-01 2.47000e+00 1.86856e+03 9.90000e+01
 1.05575e+03 1.20000e+01 7.40000e-01 9.90000e+00 4.29500e+01 1.29950e+02
 2.29460e+02 6.84400e+01 4.50000e+01 8.41500e+01 9.88800e+01 7.16100e+01
 4.45050e+02 1.04688e+04 2.76990e+03 3.59710e+02 2.08630e+02 1.34344e+03
 1.59540e+02 4.56000e+00 5.15000e+00 4.14000e+00 8.87000e+00 6.89000e+00
 1.43000e+00 5.96000e+00 3.17000e+00 7.13000e+00 3.40000e+00 4.80000e+00
 1.88000e+00 6.54000e+00 4.83150e+02 2.37850e+02 9.00000e-01 3.98000e+00
 2.54585e+03 1.95000e+01 3.11990e+02 3.88000e+00 1.68600e+01 4.78000e+00
 5.37000e+00 9.86000e+00 6.78000e+00 1.94200e+01 9.89000e+00 2.32000e+00
 1.68800e+01 5.27800e+01 1.10844e+03 2.66788e+03 2.22517e+03 1.08500e+01
 2.65000e+00 1.65000e+02 7.80250e+02 3.24000e+00 6.91000e+00 2.17000e+00
 4.62000e+00 2.69000e+00 9.16000e+00 6.60000e+00 3.21000e+00 2.21000e+00
 2.16000e+00 7.30000e-01 1.24000e+00 3.44000e+00 4.68000e+00 1.01300e+01
 2.50000e+02 2.73616e+03 1.15560e+03 9.20300e+01 5.00500e+01 3.26900e+01
 1.98400e+01 9.38000e+00 2.31000e+00 9.26000e+00 4.90000e-01 8.50000e+02
 2.53000e+02 2.39500e+01 6.50000e+01 1.39800e+01 3.20000e+01 3.22900e+01
 2.84000e+00 1.42000e+00 2.70000e+00 1.87000e+00 3.82000e+00 3.37000e+00
 3.57500e+01 1.93000e+00 5.27700e+01 1.99400e+01]
Count unique value:  448
----------
Columns name:  Customer ID
Unique value:  [13085. 13078. 15362. ... 12942. 13369. 15211.]
Count unique value:  4312
----------
Columns name:  Country
Unique value:  ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Denmark' 'Netherlands' 'Poland' 'Channel Islands' 'Spain'
 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden' 'United Arab Emirates'
 'Finland' 'Italy' 'Switzerland' 'Japan' 'Unspecified' 'Nigeria' 'Malta'
 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania' 'West Indies'
 'Korea' 'Brazil' 'Canada' 'Iceland']
Count unique value:  37
----------

clean Description

In [47]:
df['Description'] = df['Description'].str.replace(',', '')

In [48]:
df['Description'] = df['Description'].str.replace('*', '')

In [49]:
df['Description'] = df['Description'].str.strip()

In [50]:
for n in range(2,11,1):
    df['Description'] = df['Description'].str.replace(' '*n, '')

In [51]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

# 3. Manipulate cost for optimization model

In [52]:
np.random.seed(42)
df['profit_margin'] = np.random.uniform(0.01, 0.5, size=len(df))

In [53]:
df['Cost_price'] = df['Price'] * (1 - df['profit_margin'])

# 4. Export cleaned data

In [54]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,profit_margin,Cost_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,0.193525,5.605004
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.475850,3.538012
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.368677,4.261430
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,0.303343,1.462980
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,0.086449,1.141939

In [55]:
df.to_csv('online_retail_II_cleaned_with_cost.csv', sep=',', index=False)